<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org%22%3E/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org%22%3E/ ">
<head>
  <meta charset="UTF-8">
  <title>Customer List</title>
</head>
<body>
<h1>Customer List</h1>
<table border="1">
  <thead>
  <tr>
    <th>Bank Account Number</th>
    <th>Name</th>
    <th>Account Balance</th>
    <th>Transactions</th>

  </tr>
  </thead>

  <!--/*@thymesVar id="customers" type=""*/-->
  <tr th:each="customer : ${customers}">
    <td th:text="${customer.bankAccountNumber}"></td>
    <td th:text="${customer.name}"></td>
    <td th:text="${customer.accountBalance}"></td>
    <td th:text="${customer.PersonalTransactionHistory}"></td>
    <!-- Add more table cells for additional customer information -->
  </tr>
  </tbody>
</table>
</body>
</html>