<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org%22%3E/
<head>
    <meta charset=" UTF-8 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org%22%3E/
<head>
    <meta charset= "></html>">
<title>User Registration</title>
</head>
<body>
<h1>User Registration</h1>
<form th:action="@{/account/register}" method="post">
    <label for="username">Bank Account Number:</label>
    <input type="text" id="username" name="username" required>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="role">Role:</label>
    <select id="role" name="role">
        <option value="CUSTOMER">Customer</option>
        <option value="EMPLOYEE">Employee</option>
        <option value="ADMIN">Admin</option>
    </select>

    <button type="submit">Register</button>
</form>
</body>
</html>